<p style="color: green"><%= notice %></p>

<h1>Teachers</h1>

<div id="teachers">
  <% @teachers.each do |teacher| %>
    <%= render teacher %>
    <p>
      <%= link_to "Edit", edit_teacher_path(teacher) %>
    </p>
    <hr />
  <% end %>
</div>

<%= link_to "New teacher", new_teacher_path %>
